body {
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.p-panelmenu-icon {
  order: 1;
}

.p-menuitem-text {
  flex-grow: 1;
 }




 